//pkgs.dev.azure.com/sm0390/enfonica/_packaging/Enfonica.NPM/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/sm0390/enfonica/_packaging/Enfonica.NPM/npm/registry/:_password=amxwbGtmdm5qbnRvYWZpdDdob2lpdDY3cHpqdmpubGw3ZTYzZ2o1aGVpYjJlZmR5a2plcQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/sm0390/enfonica/_packaging/Enfonica.NPM/npm/registry/:email=not-used@example.com

registry=https://pkgs.dev.azure.com/sm0390/enfonica/_packaging/Enfonica.NPM/npm/registry/ 
                        
always-auth=true